/notebook/.ipynb_checkpoints/CharRNN - GPU-checkpoint.ipynb
/notebook/.ipynb_checkpoints/CharRNN-checkpoint.ipynb
/notebook/.ipynb_checkpoints/Conv1d comprehension-checkpoint.ipynb
/notebook/.ipynb_checkpoints/Word level TCN-checkpoint.ipynb
/notebook/CharRNN - GPU.ipynb
/notebook/CharRNN.ipynb
/notebook/Conv1d comprehension.ipynb
